$gray: #657786;
$lightgray: lighten($gray, 42%);

.dropdown-content {
  background-color: #FFF;
  border: 1px solid $lightgray;
  border-radius: 4px;
  box-shadow: 0px 1px 1px $lightgray,
    -1px 1px 1px $lightgray, 1px 1px 1px $lightgray;
  display: flex;
  flex-direction: column;
  left: -10px;
  min-width: 200px;
  padding: 17px;
  position: absolute;
  top: 27px;
  z-index: 1;

  &:before {
    content: '';
    border: {
      left: 10px solid transparent;
      right: 10px solid transparent;
      bottom: 12px solid #FFF;
    }
    height: 0;
    left: 10px;
    position: absolute;
    top: -8px;
    width: 0;
  }
}

.dropdown-item {
  color: $gray;
  list-style-type: none;

  &:not(:last-child) {
    padding-bottom: 10px;
  }

  &:before {
    content: "\200B"; /* add zero-width space for accessibility*/
  }
}
