$green: #70C061;
$gray: #657786;

.AddTweetForm {
  background-color: lighten($green, 39%);
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 10px;
  width: 44.1vw;

  img {
    border-radius: 50%;
    height: 32px;
    margin-right: 8px;
    width: 32px;
  }

  form {
    display: flex;
    flex-direction: column;

    textarea {
      border: 2px solid lighten($green, 30%);
      border-radius: 10px;
      font-size: 14px;
      height: 70px;
      margin-bottom: 8px;
      padding: 10px;
      resize: none;
      width: 480px;

      &::placeholder {
        color: lighten($green, 5%);
      }

      &:focus::placeholder {
        color: #CCC;
      }
    }

    .charCount-btn-group {
      align-items: center;
      align-self: flex-end;
      display: flex;
    }

    .charCount {
      color: $gray;
      margin: 0 10px;
    }

    button {
      background-color: lighten($green, 5%);
      border: none;
      border-radius: 20px;
      color: #FFF;
      font-size: 1em;
      font-weight: 600;
      height: 35px;
      width: 70px;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
