$gray: #657786;
$black: #14171A;

.TweetList {
  margin: 0 auto;
  padding: 0;
  width: 64vw;
}

.Tweet {
  background-color: #FFF;
  border: 1px solid #E6ECF0;
  color: $black;
  display: flex;
  list-style-type: none;
  margin: 0 auto;
  padding: 10px;
  width: 70%;

  &:before {
    content: "\200B"; /* add zero-width space for accessibility*/
  }

  img {
    border-radius: 50%;
    height: 50px;
    margin-right: 10px;
    width: 50px;
  }

  &Text {
    width: 100%;
  }
}

.TweetHeading {
  color: $gray;
  display: flex;
  justify-content: space-between;
}

.fa {
  color: $gray;
}

.given-name {
  color: $black;
  font-weight: bold;
}

.name-and-time {
  display: flex;
  flex-grow: 1;

  span {
    margin-right: 4px;
  }

  .time:before {
    content: "\00b7";
  }
}

.dropdown {
  position: relative;

  &-btn {
    background: none;
    border: none;
  }
}

.TweetBody {
  margin: 0;
}

.TweetReactions {
  color: $gray;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 50%;

  .fa {
    margin-right: 10px;
  }
}
